<div class="header-container shadow-sm bg-dark">
  <nav class="navbar navbar-expand-md">
    <div class="container d-flex justify-content-between align-items-center">
      <a
        class="navbar-brand text-light d-flex align-items-center"
        href="https://github.com/Pradeepkaliyawansha"
        target="_blank"
      >
        <img
          src="assets/logo.png"
          alt="Pradeep Kaliyawansha Logo"
          class="logo-img me-2"
        />
        <span class="brand-text">Pradeep_Kaliyawansha</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            routerLink="/home"
            routerLinkActive="text-light"
            class="nav-link text-secondary"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/about"
            routerLinkActive="text-light"
            class="nav-link text-secondary"
          >
            About
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/skills"
            routerLinkActive="text-light"
            class="nav-link text-secondary"
          >
            Education
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/portfolio"
            routerLinkActive="text-light"
            class="nav-link text-secondary"
          >
            Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/contact"
            routerLinkActive="text-light"
            class="nav-link text-secondary"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
