<div class="row align-items-center default-container">
  <div class="col-lg-5">
    <div class="contact-card">
      <img
        src="../../assets/DSC_9525a.jpg"
        alt="Contact Image"
        class="contact-image"
      />
      <h2 class="contact-title">
        <span class="white-highlight">&lt;</span>
        Pradeep_Kaliyawansha
        <span class="white-highlight"> /&gt; </span>
      </h2>
      <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

      <div class="media-content">
        <div class="media-icons">
          <div class="media-icon">
            <a
              href="https://www.linkedin.com/in/pradeep-kaliyawansha-5bb102215/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3B5mt9RLpeQjubdvXzwntvag%3D%3D"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="media-icon">
            <a href="https://github.com/Pradeepkaliyawansha" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>

          <div class="media-icon">
            <a href="mailto:pradeepkaliyawansha123@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
          </div>

          <div class="media-icon">
            <a href="" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>

      <p class="contact-paragraph">
        Welikanda, Ahungalla, Sri Lanka. +94 769183941
      </p>
      <button>
        <a
          href="https://linkedin.com/in/pradeep-kaliyawansha-5bb102215/"
          target="_blank"
        >
          > LinkedIn
        </a>
      </button>
    </div>
  </div>
</div>
