<div class="accordion-left">
  <accordion [isAnimated]="true">
    <accordion-group
      heading="Languages."
      [panelClass]="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <p>
          Advanced
          <strong><span class="default-highlight">English</span></strong>
        </p>
        <p>
          Native <strong><span class="default-highlight">Sinhala</span></strong>
        </p>
      </div>
    </accordion-group>

    <accordion-group
      heading="Education Qualification."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <p>
          2019-02 - 2024-03 -
          <strong>BSc. (Hons) in Computing & Information Systems</strong>
        </p>
        <ul>
          <li>Sabaragamuwa University of Sri Lanka</li>
          <li>Obtained a Second Class Lower Degree</li>
          <li>
            Final Project | Music Recommendation System by using OCEAN Model
          </li>
        </ul>
        <p>
          2017 -
          <strong>G.C.E. Advanced Level</strong>
        </p>
        <ul>
          <li>G/Dharmasoka College, Ambalangoda.</li>
          <li>1B's and 2C's (Combined Mathematics, Chemistry, Physics)</li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group
      heading="Technical."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <p>
          2022-06 - 2023-02 (7 months) - EchonLabs (Pvt) Ltd| Software
          Engineer(Internship) -
          <strong
            ><span class="default-highlight"
              >Fullstack Development with Angular, NodeJs, ExpressJs alone with
              NestJs, Mongodb</span
            ></strong
          >
        </p>
        <ul>
          <li>Engaged majorly in ERP system development.</li>
          <li>Engaged Projects in Banking and Insurance sector.</li>
          <li>
            Working on module full stack development, Unit testing in workflows
            developed based on agile methodologies.
          </li>
        </ul>
        <p>
          2017 - 2018 - Omak Technologies (PVT) Ltd| Computer Hardware
          Technician -
        </p>
        <ul>
          <li>Engaged Computer Systems, Hardware and Software.</li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group
      heading="Techs I use."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-angular-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-nodejs-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-react-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postman-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-swagger-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-npm-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain-wordmark"></i>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
