<div class="row align-items-center default-container">
  <div class="col-lg-10">
    <div class="text-left">
      <h1 class="home-title">
        Innovative Solutions, Seamless Digital Experiences.
      </h1>
      <h2 class="home-author">
        Pradeep Kaliyawansha, <span id="dynamic-text">{{ dynamicText }}</span>
      </h2>
      <blockquote class="home-block">
        I am passionate about turning ideas into reality through clean code and
        cutting-edge technology. With a focus on efficiency, scalability, and
        user-centric design, I create web applications that not only solve
        problems but also deliver intuitive and delightful user experiences.
        Aiming to play a responsible and dedicated role in the project's success
        through smart working and resourcefulness.
      </blockquote>
      <button>
        <a routerLink="/portfolio"> > Check Portfolio </a>
      </button>
      <button class="button" (click)="openPDF()"><a>> Check Resume</a></button>
    </div>
  </div>
</div>
